@page "/Laser"
@inject IJSRuntime _js

<PageTitle>Laser Brain Twister</PageTitle>

<h1>Laser Brain Twister</h1>

<button id="generateTwoWayTree" type="button" class="btn btn-primary btn-lg" @onclick="GenerateTwoWayTree">Test Tree</button>
<br />

<button class="btn-legend"></button>

@for (sbyte x = 0; x < MaxRow; x++)
{
    <button class="btn-legend">@x</button>
}
<br />
<canvas id="canvas" width="500" height="500"></canvas>
<div id="grid">
    @for (sbyte y = 0; y < MaxRow; y++)
    {
        <button class="btn-legend">@y</button>
        @for (sbyte x = 0; x < MaxRow; x++)
        {
            var coordinate = new Coordinate(x, y);
            <button id="btn@(coordinate.X)_@(coordinate.Y)" class="@(_nodesGrid.IsEnable(coordinate) ? BtnEnabled : BtnDisable)" @onclick="() => OnClick(coordinate)"></button>
        }
        <br>
    }
</div>